<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body>

<iframe name="toppage" width=100% height=100%
        marginwidth=0 marginheight=0 frameborder="no" border="0"
        src="../static/head.html" >
</iframe>

<div class="layui-carousel" id="test1" style="float: left">
    <div carousel-item>
        <div><img src="../static/1.png" style="width:100%;height:100%"></div>
        <div><img src="../static/2.png" style="width:100%;height:100%"></div>
        <div><img src="../static/3.png" style="width:100%;height:100%"></div>
        <div><img src="../static/4.png" style="width:100%;height:100%"></div>
    </div>
</div>

<table class="layui-table" style="width: 500px; float: left; margin-left: 150px">
    <thead>
    <tr>
        <th>要闻</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a target="_blank" href="https://news.sina.com.cn/c/xl/2021-07-10/doc-ikqciyzk4607774.shtml" class="linkNewsTopBold"
               style="color: blue; text-decoration:underline">深改委重磅会议 习近平为这些事指明方向</a></td>
    </tr>
    <tr>
        <td><a target="_blank" href="https://news.sina.com.cn/w/2021-07-10/doc-ikqcfnca5984207.shtml" class="linkNewsTopBold"
               style="color: blue; text-decoration:underline">海地总统被刺三大谜团 台湾也这样卷进来了</a></td>
    </tr>
    <tr>
        <td><a target="_blank" href=" https://news.sina.com.cn/w/2021-07-10/doc-ikqciyzk4577172.shtml" class="linkNewsTopBold"
               style="color: blue; text-decoration:underline">美媒：总统遇刺后 海地请求美国派兵维稳</a></td>
    </tr>
    <tr>
        <td><a target="_blank" href="https://news.sina.com.cn/zx/2021-07-10/doc-ikqcfnca6012433.shtml" class="linkNewsTopBold"
               style="color: blue; text-decoration:underline">市场监管总局依法禁止虎牙与斗鱼合并</a></td>
    </tr>
    <tr>
        <td><a target="_blank" href=" https://news.sina.com.cn/o/2021-07-09/doc-ikqciyzk4528900.shtml" class="linkNewsTopBold"
               style="color: blue; text-decoration:underline">下半年社保迎来4大新变化 利好你我</a></td>
    </tr>
    <tr>
        <td><a target="_blank" href=" https://news.sina.com.cn/c/2021-07-10/doc-ikqciyzk4558096.shtml" class="linkNewsTopBold"
               style="color: blue; text-decoration:underline">这家公司宣布破产 社区团购开启淘汰赛？</a></td>
    </tr>
    </tbody>
</table>

<div class="layui-bg-gray" style="padding: 60px; margin-left: 40px; margin-right: 50px">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-panel">
                <a href="https://www.baidu.com" target="_blank">
                    <img src="../static/activity1.jpg" height="200px" width="300px">
                </a>
                来郊游吧。
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-panel">
                <a href="https://www.baidu.com" target="_blank">
                    <img src="../static/activity2.jpg" height="200px" width="300px">
                </a>
                欢迎加入我们的社团！
            </div>
        </div>
    </div>
</div>

<script src="../static/layui/layui.js"></script>
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '40%' //设置容器宽度
            ,arrow: 'hover' //始终显示箭头
            ,autoplay: true
            //,anim: 'updown' //切换动画方式
        });
    });
</script>

</body>
</html>