<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>我的消息</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
  <style>
    @font-face {
      font-family: x;
      src: url("../static/FZMiaoWuJW.TTF");
    }
    body {
      font-family: x;
    }
  </style>
</head>
<body>

<div class="layui-bg-gray" style="padding: 60px; margin-left: 40px; margin-right: 50px">
  <div class="layui-row layui-col-space15">

    <div class="layui-col-md6" th:each="msg:${msgs}">
      <div class="layui-panel" style="width: 600px; height: 100px; margin-left: 100px; margin-top: -20px">
<!--        <a th:href="${msg.getUrl()}">-->
        <span onclick="deal(this)" th:id="${msg.getID()}">
          <br>
          &nbsp;&nbsp;
          <span style="font-size: 15px;
           font-weight: bold;
         padding-left: 20px">叮！你有新的活动通知！</span>
          &nbsp;&nbsp;
          <span style="font-size: 15px;font-weight: lighter"
                th:text="${msg.getTime()}">
          </span>
          <br><br>&nbsp;&nbsp;
          <span class="msg" th:text="${msg.getInfo()}">
<!--            同学你好，你报名的春游活动已通过申请！-->
          </span>
        </span>
<!--        </a>-->
      </div>
    </div>

  </div>
</div>

<script src="../static/layui/layui.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script>
    function deal(me) {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 2,
                content: "verify",
                btn: ['yes', 'no'],
                yes: function(index, layero){
                    $.ajax({
                        type : 'post',
                        url : 'verify',
                        data : {'id' : me.id},
                        traditional : true,
                        async : false,
                        dataType: 'json',
                        success : function(data){//成功的事件
                            layer.closeAll();
                            layer.msg("已通过该用户的请求");
                        },
                        error : function(data){//失败的事件
                            layer.close();
                        }
                    });

                },
                btn2: function(index, layero){
                    layer.msg("已拒绝该用户的请求");
                }
            });
        });
    }
</script>

</body>
</html>