<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 管理系统大布局 - Layui</title>
  <!--    <link rel="stylesheet" href="../static/css/teachAffair.css">-->
  <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
  <!--    <script src="../static/layui/layui.js"></script>-->
  <script src="https://unpkg.com//layui@2.6.8//dist//layui.js"></script>
</head>
<body>

<div class="layui-layout layui-layout-admin">
  <!--引入head.html-->
  <div>
    <iframe name="toppage" width=100% height=100%
            marginwidth=0 marginheight=0 frameborder="no" border="0"
            src="../static/head.html">
    </iframe>
  </div>
  <!--左侧导航栏-->
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="nav-tree-test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">成绩管理</a>
          <dl class="layui-nav-child">
            <dd><a class="layui-this ScoreTest" href="scoreQueryForStudent">成绩查询</a></dd>
            <dd><a class="layui-this ScoreTest" href="examScheduleQueryForStudent">考试查询</a></dd>
            <dd><a href="javascript:;">未定</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">课程管理</a>
          <dl class="layui-nav-child">
            <dd><a href="ViewLessonSchedule">课表查询</a></dd>
            <dd><a href="ViewAbsenceRecord">考勤记录查询</a></dd>
            <dd><a href="AskForLeave">课程请假</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">教室申请管理</a>
          <dl class="layui-nav-child">
            <dd><a href="ApplicationForm">申请表填写</a></dd>
            <dd><a href="ApplicationRecord">申请记录查询</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">the links</a></li>
      </ul>
    </div>
    <script>
      layui.use('element', function () {
        var $ = layui.jquery, element = layui.element;
        $('dd>a').click(function (e) {
          e.preventDefault();
          $('#iframeMain').attr('src',$(this).attr('href'));
        });
      })
    </script>
  </div>
  <!--右侧主体-->
  <div class="layui-body">
    <!--用iframe渲染嵌入页面-->
    <div>
      <iframe id="iframeMain" src="scoreQueryForStudent" width=100% height=500></iframe>
    </div>
    <!--右侧主体底部-->
    <div class="layui-footer">
      <!-- 底部固定区域 -->
      底部固定区域
    </div>
  </div>
</div>
</body>
</html>
