<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>教务管理</title>
  <!--    <link rel="stylesheet" href="../static/css/teachAffair.css">-->
  <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
  <!--    <script src="../static/layui/layui.js"></script>-->
  <script src="https://unpkg.com//layui@2.6.8//dist//layui.js"></script>
  <script src="../static/layui/layui.js"></script>
  <link rel="stylesheet" href="../static/layui/css/layui.css">
  <script type="text/javascript" src="../static/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="layui-layout layui-layout-admin">
  <!--引入head.html-->
  <div>
    <!--        <div class="top" style="margin-bottom: 0px"></div>-->
    <ul class="mylayui-nav" style="z-index:1000;">
      <li class="mylayui-nav-item"><a href="/index">首页</a></li>
      <!--            <li class="mylayui-nav-item"><a href="/teachAffairManagement">教务管理</a></li>-->
      <li class="mylayui-nav-item">
        <a id="teachAffairJump" href="#" th:onclick="teachAffairJump([[${role}]])">教务管理</a>
      </li>
      <li class="mylayui-nav-item"><a href="/mod3/index3">舍区管理</a></li>
      <li class="mylayui-nav-item"><a href="/mod3/index4">校园服务</a></li>

      <li class="mylayui-nav-item"><a href="">

        <img th:src="${headPic}" class="mylayui-nav-img" id="headPic">
        <span class="layui-badge-dot" id="dot" th:if="${msgs.size() gt 0}"></span>
      </a>

        <dl class="mylayui-nav-child">
          <dd>
            <a href="" id="role" th:text="${role}"></a>
          </dd>
          <dd>
            <a href="/message">
              消息
              <span class="layui-badge" id="msgCount"
                    th:text="${msgs.size()}" th:if="${msgs.size()} gt 0">
                    </span>
            </a>
          </dd>
          <dd>
            <a href="/logout" th:if="${username} ne ''">
              注销
            </a>
            <a href="/login" th:if="${username} eq ''">
              登录
            </a>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
  <!--左侧导航栏-->
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="nav-tree-test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">成绩管理</a>
          <dl class="layui-nav-child">
            <dd><a class="layui-this ScoreTest" href="scoreQueryForStudent">成绩查询</a></dd>
            <dd><a class="layui-this ScoreTest" href="examScheduleQueryForStudent">考试查询</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">课程管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/teachAffairManagementForStudent/CourseScheduleQuery">课表查询</a></dd>
            <dd><a href="absenceRecordQueryForStudent">考勤记录查询</a></dd>
            <dd><a href="StudentAskForLeave">课程请假</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">教室申请管理</a>
          <dl class="layui-nav-child">
            <dd><a href="studentApplicationClassroom">申请表填写</a></dd>
            <dd><a href="studentApplicationRecord">申请记录查询</a></dd>
          </dl>
        </li>
      </ul>
    </div>
    <script>
      layui.use('element', function () {
        var $ = layui.jquery, element = layui.element;
        $('dd>a').click(function (e) {
          e.preventDefault();
          $('#iframeMain').attr('src',$(this).attr('href'));
        });
      })
    </script>
  </div>
  <!--右侧主体-->
  <div class="layui-body">
    <!--用iframe渲染嵌入页面-->
    <div>
      <iframe id="iframeMain" src="scoreQueryForStudent" width=100% height=500></iframe>
    </div>
    <!--右侧主体底部-->
    <div class="layui-footer">
      <!-- 底部固定区域 -->
      底部固定区域
    </div>
  </div>
</div>

<script type="text/javascript" src="../static/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  //在js中引入
  function teachAffairJump(role) {
    console.log("role: " + role);
    if (role === '教师') {
      $('#teachAffairJump').attr('href', '/teachAffairManagementForTeacher');
    } else if(role === '学生') {
      $('#teachAffairJump').attr('href', '/studentAffairManagement');
    }
  }

  //为防止studentApplicationClassroom.html使用selectM模块出现被占用问题，所以将extend配置在主入口文件内
  layui.extend({
    selectM : './layui_extends/selectM',
  })



</script>
</body>
</html>
