<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sevengroup.campus.mapper.ActivityMapper">

    <select id="listActivities" resultType="com.sevengroup.campus.bean.ActivityBean">
        SELECT * FROM activity where imgUrl is not null;
    </select>

    <select id="getOrganizer" parameterType="String" resultType="String">
        SELECT organizer FROM activity WHERE activityID = #{activityID}
    </select>

<!--
void saveActivity(String name, String activityID,
String organizer, String description, Timestamp timeRs,
Timestamp timeRe, Timestamp timeAs, Timestamp timeAe, String imgPath);
   -->
    <insert id="saveActivity">
        INSERT INTO activity(name, activityID, organizer, description, regisStartTime,
                             regisEndTime, activStartTime, activEndTime, imgurl) values
                            (#{name}, #{activityID}, #{organizer}, #{description},
                             #{timeRs}, #{timeRe}, #{timeAs}, #{timeAe}, #{imgPath});
    </insert>

    <insert id="saveSignUp">
        INSERT INTO activityrecord(activityID, user , info, verify)
        values (#{aID}, #{uID}, #{info}, 0)
    </insert>

</mapper>