<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sevengroup.campus.mapper.BookMapper">

    <select id="getBookInfo" parameterType="String" resultType="com.sevengroup.campus.bean.BookBean">
        SELECT bo.bookid,bo.name as bookName,bo.author as bookAuthor,
               bo.publishTime as bookYear,bo.type as bookType,
               br.borrowTime,br.returnTime,br.renewCount,
               br.borrowUser as borrowUserID
        from borrowrecord br inner join books bo
        on  br.bookid = bo.bookid
    </select>

</mapper>